{
  "extends": ["plugin:node/recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/extensions": ["off"],
    "node/no-unpublished-import": ["off"]
  },
  "env": {
    "mocha": true
  }
}
