{
  "extends": ["plugin:node/recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/extensions": ["off"]
  },
  "env": {
    "mocha": true
  }
}
